head
	link(href='lib/css/reset.css' rel='stylesheet')
	link(href='lib/css/bootstrap.min.css' rel='stylesheet')
	link(href='lib/css/font-awesome.min.css' rel='stylesheet')
	link(href='css/main.css' rel='stylesheet')
	link(href='img/icon.png' rel='icon' type='image/png')
	style.
		html {
		font-size: 16px;
		}
	script(async src="https://www.googletagmanager.com/gtag/js?id=UA-127336593-9")
	script.
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-127336593-9');
