head
	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
	meta(name="description" content="")
	meta(name="keywords" content="")
	link(href="lib/css/reset.css" rel="stylesheet")
	link(href="lib/css/bootstrap.min.css" rel="stylesheet")
	link(href="lib/css/slick.css" rel="stylesheet")
	link(href="lib/css/slick-theme.css" rel="stylesheet")
	link(href="lib/css/font-awesome.min.css" rel="stylesheet")
	link(href="css/main.css" rel="stylesheet")