	footer.bg-dark.text-white.px-3
		.row.px-3
			.col-md-6
				p.muted.my-2
					|2020. Created by SL

#modal-paps.modal.fade(tabindex='-1' role='dialog' aria-labelledby='modal-paps' aria-hidden='true' data-backdrop='static' data-keyboard='false')
	.modal-dialog.modal-lg
		.modal-content
			.modal-header
				h5.modal-title
					|Корпоративный сайт кафедры
				button.close(type='button' data-dismiss='modal' aria-label='Close')
					span(aria-hidden='true')
						|&times;
			.modal-body
				.row
					.col-md-4
						p
							|Название: КПУПС
						p
							|Описание: Корпоративный сайт кафедры академии. Разработан с помощью фреймворка Bootstrap 4. Основная цель - презентация кафедры и её преподавателей для будущих слушателей академии.
						p
							|Ссылка: 
							a.text-dark(href='http://www.paps.com.ua' target='_blank')
								|www.paps.com.ua
					.col-md-8
						img.img-fluid(src='img/paps-md.png')
#modal-uvupo.modal.fade(tabindex='-1' role='dialog' aria-labelledby='modal-uvupo' aria-hidden='true' data-backdrop='static' data-keyboard='false')
	.modal-dialog.modal-lg
		.modal-content
			.modal-header
				h5.modal-title
					|Корпоративный сайт университета
				button.close(type='button' data-dismiss='modal' aria-label='Close')
					span(aria-hidden='true')
						|&times;
			.modal-body
				.row
					.col-md-4
						p
							|Название: УВУПО
						p
							|Описание: Корпоративный сайт университета. Разработан с помощью фреймворка Bootstrap 4 и интегрирован в систему управления контентом Wordpress. Основная цель - предоставить информацию слушателям об университете, кафедр, преподавателей и профильные курсы для последующей записи на дистанционное обучение.
						p
							|Ссылка: 
							a.text-dark(href='http://uvu.org.ua' target='_blank')
								|uvu.org.ua
					.col-md-8
						img.img-fluid(src='img/uvupo-md.png')
#modal-ebalans.modal.fade(tabindex='-1' role='dialog' aria-labelledby='modal-ebalans' aria-hidden='true' data-backdrop='static' data-keyboard='false')
	.modal-dialog.modal-lg
		.modal-content
			.modal-header
				h5.modal-title
					|Одностраничный сайт бухгалтерских услуг
				button.close(type='button' data-dismiss='modal' aria-label='Close')
					span(aria-hidden='true')
						|&times;
			.modal-body
				.row
					.col-md-4
						p
							|Название: е-Баланс
						p
							|Описание: Одностраничный сайт бухгалтерских услуг. Разработан с помощью фреймворка Bootstrap 4. Основная цель - завлечь новых клиентов и предоставить им информацию о бухгалетрских услугах.
						p
							|Ссылка: 
							a.text-dark(href='http://e-balans.com.ua' target='_blank')
								|e-balans.com.ua
					.col-md-8
						img.img-fluid(src='img/e-balans-md.png')
#modal-elitera.modal.fade(tabindex='-1' role='dialog' aria-labelledby='modal-elitera' aria-hidden='true' data-backdrop='static' data-keyboard='false')
	.modal-dialog.modal-lg
		.modal-content
			.modal-header
				h5.modal-title
					|Методический сайт 
				button.close(type='button' data-dismiss='modal' aria-label='Close')
					span(aria-hidden='true')
						|&times;
			.modal-body
				.row
					.col-md-4
						p
							|Название: е-Литера
						p
							|Описание: Методический сайт для издательства. Разработан с помощью фреймворка Bootstrap 4 и интегрирован в систему управления контентом Wordpress. Основная цель - предоставить учителям, ученикам и их родителям методическиие материалы для учебных пособий.
						p
							|Ссылка: 
							a.text-dark(href='http://www.e-litera.com.ua' target='_blank')
								|www.e-litera.com.ua
					.col-md-8
						img.img-fluid(src='img/elitera-md.png')
#modal-usv.modal.fade(tabindex='-1' role='dialog' aria-labelledby='modal-usv' aria-hidden='true' data-backdrop='static' data-keyboard='false')
	.modal-dialog.modal-lg
		.modal-content
			.modal-header
				h5.modal-title
					|Одностраничный сайт издательства 
				button.close(type='button' data-dismiss='modal' aria-label='Close')
					span(aria-hidden='true')
						|&times;
			.modal-body
				.row
					.col-md-4
						p
							|Название: Укрспецвидав
						p
							|Описание: Одностраничный сайт издательства. Разработан с помощью фреймворка Bootstrap 4 и интегрирован в систему управления контентом Wordpress. Основная цель - предоставить информацию об учебных пособиях с возможностью заказа на сайте.
						p
							|Ссылка: 
							a.text-dark(href='http://www.usv-kiev.com' target='_blank')
								|www.usv-kiev.com
					.col-md-8
						img.img-fluid(src='img/usv-md.png')
#modal-slovnyk.modal.fade(tabindex='-1' role='dialog' aria-labelledby='modal-slovnyk' aria-hidden='true' data-backdrop='static' data-keyboard='false')
	.modal-dialog.modal-lg
		.modal-content
			.modal-header
				h5.modal-title
					|Словарь исторических терминов 
				button.close(type='button' data-dismiss='modal' aria-label='Close')
					span(aria-hidden='true')
						|&times;
			.modal-body
				.row
					.col-md-4
						p
							|Название: Словарь исторических терминов для учебного пособия
						p
							|Описание: Словарь исторических терминов для учебного пособия с динамическим поиском на странице. Разработан с помощью фреймворка Bootstrap 4. Основная цель - быстрый поиск исторических терминов.
						p
							|Ссылка: 
							a.text-dark(href='http://ist7slovnyk.e-litera.com.ua' target='_blank')
								|ist7slovnyk.e-litera.com.ua
					.col-md-8
						img.img-fluid(src='img/slovnyk-md.png')
#modal-literaltd.modal.fade(tabindex='-1' role='dialog' aria-labelledby='modal-literaltd' aria-hidden='true' data-backdrop='static' data-keyboard='false')
	.modal-dialog.modal-lg
		.modal-content
			.modal-header
				h5.modal-title
					|Интернет-магазин издательства
				button.close(type='button' data-dismiss='modal' aria-label='Close')
					span(aria-hidden='true')
						|&times;
			.modal-body
				.row
					.col-md-4
						p
							|Название: Литера ЛТД
						p
							|Описание: Интернет-магазин издательства. Разработан с помощью фреймворка Bootstrap 3 и интегрирован в систему Opencart 3. Основная цель - продажа учебных материалов издательства.
						p
							|Ссылка: 
							a.text-dark(href='http://www.litera-ltd.com.ua' target='_blank')
								|www.litera-ltd.com.ua
					.col-md-8
						img.img-fluid(src='img/literaltd-md.png')
script(src="lib/js/jquery-3.4.0.min.js")
script(src="lib/js/bootstrap.min.js")
script(src="lib/js/jquery-image-scroll.js")
script(src="js/main.js")