#container.container.shadow-lg.px-0
	nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.px-3
		a.navbar-brand.ml-3(href='index.html')
			|SL
		button.navbar-toggler.mr-3(type='button' data-toggle='collapse' data-target='#navbarColor02' aria-controls='navbarColor02' aria-expanded='false' aria-label='Toggle navigation')
			span.navbar-toggler-icon
		div.collapse.navbar-collapse#navbarColor02
			ul.navbar-nav.mr-auto
				li.nav-item
					a.nav-link(href='index.html')
						|Главная
				li.nav-item
					a.nav-link(href='resume.html')
						|Резюме
				li.nav-item.active
					a.nav-link(href='portfolio.html')
						|Портфолио
			//ul.navbar-nav.mr-3
				li.nav-item
					a.nav-link(href='#')
						|Укр
				li.nav-item
					a.nav-link(href='#')
						|Eng