doctype html
html(lang="ru")
	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
	meta(name="description" content="Персональный сайт Ларина Станислава. Портфолио, резюме, контакты.")
	meta(name="keywords" content="ларин, станислав, ларин станислав, персональный сайт, персональный сайт ларина, персональный сайт ларина станислава, портфолио, портфолио ларина, портфолио ларина станислава, резюме, резюме ларина, резюме ларина станислава")
	meta(property='og:title' content='SL - Персональный разработчика Ларина Станислава. Портфолио, резюме, контакты.')
	meta(property='og:image' content='img/icon.png')
	meta(property='og:url' content='//www.sl.net.ua')
	//= templ/head.jade
	title
		|SL - Персональный сайт
	body
		//= templ/home-header.jade
		//= templ/home-content.jade
		//= templ/home-footer.jade
