doctype html
html(lang="ru")
	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
	meta(name="description" content="Портфолио Ларина Станислава.")
	meta(name="keywords" content="ларин, станислав, ларин станислав, портфолио, портфолио ларина, портфолио ларина станислава")
	meta(property='og:title' content='SL - Портфолио front-end разработчика Ларина Станислава.')
	meta(property='og:image' content='img/icon.png')
	meta(property='og:url' content='//www.sl.net.ua/portfolio.html')
	//= templ/head.jade
	title
		|SL - Портфолио
	body
		//= templ/portfolio-header.jade
		//= templ/portfolio-content.jade
		//= templ/portfolio-footer.jade
