doctype html
html(lang="ru")
	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
	meta(name="description" content="Резюме Ларина Станислава.")
	meta(name="keywords" content="ларин, станислав, ларин станислав, резюме, резюме ларина, резюме ларина станислава")
	meta(property='og:title' content='SL - Резюме Ларина Станислава.')
	meta(property='og:image' content='img/icon.png')
	meta(property='og:url' content='//www.sl.net.ua/resume.html')
	//= templ/head.jade
	title
		|SL - Резюме
	body
		//= templ/resume-header.jade
		//= templ/resume-content.jade
		//= templ/footer.jade
